{% extends "base.html" %} {% block content %}

<form method="POST" action="/todos/">
  {{ form.csrf_token }} {{form.username}} {{form.email}} {{form.text}}
  <input type="submit" value="Go" />
</form>

<h1>Todos:</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Text</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todos %}
    <tr>
      <td>{{todo.id}}</td>
      <td>{{todo.username}}</td>
      <td>{{todo.email}}</td>
      <td>{{todo.text}}</td>
      <td>{{todo.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
