<th scope="col">
    {% if order_by == col_name and not desc %}
        <a href="{{url_for('todos.list', page=page, order_by=col_name, desc=True)}}" class="btn">
            {% if order_by == col_name %}
                <i class="bi bi-sort-down-alt"></i>
            {% endif %}
            {{col_text}} 
        </a>
    {% else %}
        <a href="{{url_for('todos.list', page=page, order_by=col_name)}}" class="btn">
            {% if order_by == col_name %}
                <i class="bi bi-sort-down"></i>
            {% endif %}
            {{col_text}}
        </a>
    {% endif %}
</th>