autopep8==1.6.0
click==8.0.4
colorama==0.4.4
decorator==5.1.1
Flask==2.0.3
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
pbr==5.8.1
pycodestyle==2.8.0
six==1.16.0
SQLAlchemy==1.4.31
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
Tempita==0.5.2
toml==0.10.2
Werkzeug==2.0.3
WTForms==3.0.1
